/* Resources Page Styles */
.resources {
    padding: 20px;
    text-align: center;
  }
  
  .resources h1 {
    color: #0A7E07; /* Safaricom Green */
    margin-bottom: 20px;
  }
  
  .resources p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .resources ul {
    list-style: none;
    padding: 0;
  }
  
  .resources ul li {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .resources ul li a {
    color: #0A7E07;
    text-decoration: none;
    font-weight: bold;
  }
  
  .resources ul li a:hover {
    text-decoration: underline;
    color: #086005; /* Darker Green */
  }
  